body {
    background-color: white;
    color: black;
  }

  h2 {
    padding-left: 50%;
  }

  .main {
    padding-left: 25px;
  }

  ul {
    padding-left: 65px;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 75%;
  }
  
  th {
    background-color: rgba(0, 0, 255, 0.709);
    color: white;
    border: 2px solid black;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
  }
  
  td {
    border: 2px solid black;
    font-size: 18px;
    padding: 5px;
    text-align: left;
  }
  
  .number {
    text-align: center;
    width: 10%;
  }
  
  .title {
    width: 40%;
  }
  
  .director {
    width: 50%;
  }